.container {
  margin: 5px;
  padding: 20px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav_links {
  gap: 40px;
}
.nav_item a {
  font-size: 1rem;
}

.container--3 {
  display: block;
  padding-left: 00px;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
}
.header__title div {
  display: block;
}

.header__title div h1 {
  font-size: 2.5rem;
}

.header__title div p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.section--1 .topic {
  font-size: 2.5rem;
}

.projects img {
  width: 300px;
}

.projects {
  margin-left: 2px;
}
.section--1 .container--3 .projects {
  width: 300px;
}

svg {
  display: none;
}

.section--2 h1,
.section--3 h1 {
  font-size: 2.5rem;
}

.section--2 h1,
.section--3 p {
  font-size: 1.5;
}

.journey {
  flex-wrap: wrap;
}

.contact {
  flex-direction: column;
  gap: 20px;
}

.lastsection {
  flex-wrap: wrap;
  height: 20vh;
}
/* .nav_links {
  margin-left: 400px;
}

.header__title {
  /* width: 1000px; */
/* width: 100%;
} */

/* .container--3 {
  display: block;
  padding-left: 200px;
}

.section--2 {
  width: 350px;
}

.section-3 h1 {
  width: 500px;
}

.section-3 p {
  /* width: 400px; */
/* width: 100%;
}

svg {
  display: none;
}  */
